.deckEdit {
    font-family: Arial;
}

.deckEdit__your-deck {
    position: fixed;
    top: 31px;
    background: #fff;
    width: 100%;
    left: 0;
    border-bottom: 1px solid;
}

.deckEdit__your-deck-list {
    white-space: nowrap;
    overflow: auto;
}

.deckEdit__all-cards {
    margin-top: 400px;
}

.card-view {
    font-size: 13px;
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.6);
    border-radius: 10px;
    margin: 10px;
    padding: 6px;
    width: 150px;
    height: 220px;
    display: inline-block;
    overflow: hidden;
    white-space: normal;
}

.card-view__title {
    font-weight: bold;
}

.card-view__text {
    margin: 6px 0;
    height: 140px;
    white-space: pre-line;
    overflow: auto;
}

.card-view__mana {
    color: blue;
    font-weight: bold;
    width: 14px;
    display: inline-block;
}

.card-view__dmg {
    color: red;
    font-weight: bold;
    width: 14px;
    display: inline-block;
}

.card-view__health {
    color: green;
    font-weight: bold;
    width: 14px;
    display: inline-block;
}

.card-add-btn, .card-remove-btn {
    padding: 10px;
    width: 40px;
}