.cardEdit {
    position: relative;
    float: left;
    width: 150px;
    /*height: 220px;*/

    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;

    border-radius: 10px;
    border: 3px solid gray;

    background: #fff;

    transition:border-color 1s;
}

.cardEdit__title {
    font-weight: bold;
    display: inline-block;
    width: 11em;
    padding: 1px;
}

.cardEdit__type {
    width: 118px;
    padding: 1px;
}

.cardEdit__image-name {
    width: 11em;
    padding: 1px;
}

.cardEdit__mana {
    width: 1em;
    color: blue;
    display: inline-block;
    font-weight: bold;
    text-align: center;
}

.cardEdit__dmg {
    color: red;
    width: 1em;
    display: inline-block;
    font-weight: bold;
    text-align: center;
}

.cardEdit__health {
    color: green;
    width: 1em;
    display: inline-block;
    font-weight: bold;
    text-align: center;
}

.cardEdit__couter {
    color: orange;
    width: 1em;
    display: inline-block;
    font-weight: bold;
    text-align: center;
}

.cardEdit__text {
    height: 10em;
    width: 11em;
    resize: none;
    font-family: Arial;
}

.cardEdit__image-container {
    margin-top: 10px;
    text-align: center;
}

.cardEdit__image {
    border: 1px solid lightgray;
}
