.cardEdit {
    position: relative;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 150px;
    height: 220px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.6);
}

.cardEdit__title {
    font-weight: bold;
    display: inline-block;
    width: 11em;
    padding: 1px;
}

.cardEdit__type {
    width: 9em;
    padding: 1px;
}

.cardEdit__image-name {
    width: 11em;
    padding: 1px;
}

.cardEdit__mana {
    width: 1em;
    color: blue;
    display: inline-block;
    font-weight: bold;
    text-align: center;
}

.cardEdit__dmg {
    color: red;
    width: 1em;
    display: inline-block;
    font-weight: bold;
    text-align: center;
}

.cardEdit__health {
    color: green;
    width: 1em;
    display: inline-block;
    font-weight: bold;
    text-align: center;
}

.cardEdit__text {
    height: 10em;
    width: 11em;
    resize: none;
    font-family: Arial;
}
